@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #203040;
  --color-red: #ff0000;
  --color-blue: rgba(0, 0, 255);
  --color-blue-2: rgba(0, 0, 255, 0.4);
  --color-green: green;
}
body {
  margin: 0;
  padding: 0;
  min-height: 200vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-white);
  overflow: hidden;
   font-family: "Ovo", serif;
}
.pointer {
  width: 10%;
}
.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 20px;
  background-color: #367cfb;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  height: 65px;
  padding: 10px;
  background-color: var(--color-dark);
}
.img-logo {
  width: 35%;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 600;
} 
.header-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 3%;
}
.header-container {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 15%;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 15%;
}
.header-container a {
  text-decoration: none;
  color: var(--color-red);
  font-size: 24px;
  font-weight: 600;
}
.dropMenu {
  display: none;
}
.login-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  width: 60%;
  height: 70%;
  padding-top: 30px;
}
.dropBtn {
  cursor: pointer;
  top: 0;
  padding: 4px 10px;
  margin-left: -5%;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.contents {
  visibility: hidden;
  width: 40%;
  height: 50%;
  background-color: #eee;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 10%;
  z-index: 1;
  padding: 20px 10px;
}
.auth-contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.auth-close {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  color: #ff0000;
  display: inline;
  align-items: center;
  justify-content: center;
}
.auth-close.in-active {
  visibility: hidden;
}
#signupLogin.show {
  visibility: visible;
}
.contents {
  display: none;
}
/** main body **/
.main-container {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}
.main-content img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.main-content img:hover {
  background-color: var(--color-white);
  opacity: 0.4;
  cursor: pointer;
}
.web {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 20%;
}
.web h2 {
  color: var(--color-red);
  font-size: 25px;
  font-weight: 600;
}
.web img {
  width: 20px;
}
.c-s {
  display: flex;
  align-items: center;
}
.c-s img {
  width: 30px;
  margin-top: -3%;
}
.main-contents {
  padding: 5px 10px;
  margin-top: -3%;
  margin-left: 5%;
  border-radius: 4px;
  margin-top: 1%;
  background-color: antiquewhite;
  box-shadow: 0px 4px 6px 7px rgba(0, 0, 255, 0.3);
}
.main-contents h1 {
  color: #367cfb;
}
.main-contents strong {
  color: var(--color-black);
  font-size: 35px;
  font-weight: 600;
}
.main-contents p {
  font-size: 30px;
  font-weight: 600;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 2rem;
}
.social-icons a {
  border-radius: 50%;
  width: 8%;
  height: 8%;
  text-decoration: none;
}
.social-icon-img {
  width: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 2rem;
}
.links a {
  text-decoration: none;
}
.contact-pointer {
  display: flex;
  align-items: center;
  gap: 1px;
  width: 30%;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0px 3px 4px rgba(0,0,0, 0.3);
  justify-content: center;
  transition: all .3s ease-in;
}
.contact-pointer{
  font-size: 22px;
  font-weight: 600;
  color: #290101;
  margin-left: 20px;
}
.contact-pointer:hover {
  background: linear-gradient(to right, #eee, #290101, #eaf);
}
.resume {
  display: flex;
  align-items: center;
  gap: 1px;
  width: 25%;
  padding: 5px 5px;
  border-radius: 50%;
  box-shadow: 0px 3px 4px rgba(0,0,0, 0.3);
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
  justify-content: center;
  gap: 5px;
  transition: all .3s ease-in;
}
.resume:hover {
  background: linear-gradient(to right, #eee, #290101, #eaf);
}
/** Modal section of About page, Services Page and Portfolio page **/
.about-page {
  display: none;
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}
.show {
  display: block;
}
/** STRENGTH MODAL **/
.modal-overlay {
  /** Hidden by default **/
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: flex-start;  /** Align to the top initially **/
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  padding-top: 10px; /** Space from the top when it appears **/
  visibility: hidden;
}
/** Modal Content **/
.modal-strength {
  background-color: var(--color-white);
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  /** Initial state (off-screen above and hidden) **/
  transform: translateY(-50px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.modal-overlay.active {
  visibility: visible;
  opacity: 1
}
.modal-overlay.active .modal-strength {
  opacity: 1;
  /** Final state (in view) **/
  transform: translateY(0);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.close-btn {
  cursor: pointer;
  font-size: 24px;
  color: #ff0000;
}
.close-btn:hover {
  color: #290101;
}
.modal-body-strength {
  padding-top: 20px;
  width: 100%;
  height: 80%;
  display: block;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}


.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
