@media screen and (max-width: 668px) {
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img-logo {
    width: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .header-nav {
    display: none;
    margin-left: -60%;
    margin-top: 40%;
    padding: 10px 10px;
  }
  .header-nav a {
    background-color: gold;
    line-height: 2;
    padding: 10px 10px;
  }
  .header-nav a:hover {
    background-color: orangered;
    color: #6907BC;
    transition: all .3s ease-in-out;
  }
  #close {
    position: absolute;
    right: 6%;
    top: 3%;
    color: #ff0000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .aside {
    margin-top: 180%;
    flex-direction: column;
    display: fixed;
    padding: 10px 10px;
    background-color: aqua;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateX(-50%);
  }
  .dropMenu {
    display: block;
    margin-left: 30%;
  }
  .main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-content {
    margin-top: 5%;
    margin-bottom: 8%;
  }
  .main-contents {
    height: 90%;
    width: 100%;
    margin-bottom: 10%;
    margin-right: 4%;
  }
  .contact-pointer{
    font-size: 8px;
    font-weight: 600;
    color: #290101;
    margin-left: 20px;
  }
  .resume {
    font-size: 10px;
    font-weight: 600;
  }






  .main-footer {
    margin-top: 70%;
  }
}



@media screen and (max-width: 968px) {
  
  .contact-pointer {
    font-size: 14px;
    font-weight: 600;
  }
  .resume {
    font-size: 16px;
    font-weight: 600;
  }
}